Animation_project/AnimationWebsite.html
Animation_project/AnimationX3.html
Animation_project/CountPress.html
Animation_project/loadingAnimation.html
Animation_project/NavbarAnimationX2.html
Animation_project/RandomColorChange.html
Animation_project/sideproject8.css
Animation_project/WelcomPage.html
Animation_project/WelcomPage2.html
Animation_project/images/sideproject4-6.jpg
Animation_project/images/sideproject8-1.jpg
Animation_project/images/sideproject8-3.jpg
Animation_project/images/sideproject8-4 .jpg
Web_Practice/blogr-landing-page-main/.gitignore
Web_Practice/blogr-landing-page-main/FrontendChallenge.css
Web_Practice/blogr-landing-page-main/FrontendChallenge.html
Web_Practice/blogr-landing-page-main/FrontendChallenge.js
Web_Practice/blogr-landing-page-main/README-template.md
Web_Practice/blogr-landing-page-main/README.md
Web_Practice/blogr-landing-page-main/style-guide.md
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/bg-pattern-circles.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/bg-pattern-intro.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/favicon-32x32.png
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/icon-arrow-dark.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/icon-arrow-light.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/icon-close.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/icon-hamburger.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/illustration-editor-desktop2.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/illustration-editor-mobile.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/illustration-laptop-desktop4.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/illustration-laptop-mobile.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/illustration-phones3.svg
Web_Practice/blogr-landing-page-main/FrontendChallengeimg/logo.svg
Web_Practice/blogr-landing-page-main/design/active-states.jpg
Web_Practice/blogr-landing-page-main/design/desktop-design.jpg
Web_Practice/blogr-landing-page-main/design/desktop-preview.jpg
Web_Practice/blogr-landing-page-main/design/mobile-design.jpg
Web_Practice/blogr-landing-page-main/design/mobile-menu.jpg
